.header {
    
    position:sticky;
    display:flex;
    background-color: beige;
    justify-content:space-evenly;
    height:10vh;
    width:auto;
    vertical-align: middle;
    align-items: center;

}


.form {

    background-color: antiquewhite;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    width:35vh;

}

.page {

    margin-top: 50px;
    height: 100vp;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;


}

.container {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    justify-content:center;

  }

  .child {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    text-align: left; 
    /* align-items: center; */
    /* justify-content: center; */
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: "150px";
      background-color: antiquewhite;
      margin:35px;
      border-style:double;
      border-color:lightslategrey;
      align-items: flex-start;
  }
  
  .child2 {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center; 
     align-items: center; 
     justify-content: center; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: "150px";
    background-color: antiquewhite;
    margin:35px;
    border-style:double;
    border-color:lightslategrey;
    /* align-items: flex-start; */
  }

  p{

    font-size:large;
  }

  h{

    font-size:x-large;

  }

  .container3{

    display: flex;
    flex-direction: row;
    margin:10px;

  }